
.logout-button {
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Ensure consistent spacing */
}

.logout-button:hover {
  background-color: #c9302c;
}


.login-container {
  width: 400px;
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-size: 14px;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}


.uncolored-button {
  background-color: #f0f0f0;
  color: #999;
  border: 1px solid #ddd;
  cursor: not-allowed;
}

.filled-button {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
  cursor: pointer;
}
