<div class="supply-documents-container">
  <button class="green-button"
          (click)="addSupplyDocument()">Add Supply Document</button>

  <button
    class="red-button"
    [disabled]="!isAnyDocumentSelected()"
    [ngClass]="{'no-selection': !isAnyDocumentSelected()}"
    (click)="deleteSelectedDocuments()"
  >
    Delete Selected Supply Documents
  </button>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Supply Document Name</th>
      <th>Subject</th>
      <th>Created Date and Time</th>
      <th>Select Document for Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let doc of supplyDocuments">
      <td>{{ doc.name }}</td>
      <td>{{ doc.subject }}</td>
      <td>{{ doc.createdDateTime }}</td>
      <td>
        <input type="checkbox" [(ngModel)]="doc.selected" (change)="checkIfAnySelected()" />
      </td>

    </tr>
    </tbody>
  </table>
</div>
