<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div class="input-group">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button
      (submit)="login()"
      type="submit"
      [disabled]="!username || !password"
      [ngClass]="{'filled-button': username && password, 'uncolored-button': !username || !password}">
      Login
    </button>
  </form>
</div>
