<div class="add-supply-document-container">
  <h2>Add New Supply Document</h2>

  <form #addForm="ngForm">
    <label>
      Document Name:
      <input type="text" [(ngModel)]="newDocument.name" name="name" required />
    </label>

    <label>
      Subject:
      <input type="text" [(ngModel)]="newDocument.subject" name="subject" required />
    </label>

    <label>
      Select Warehouse:
      <select [(ngModel)]="selectedWarehouse" name="warehouse" (change)="onWarehouseChange()" required>
        <option *ngFor="let warehouse of warehouses" [ngValue]="warehouse">
          {{ warehouse.name }}
        </option>
      </select>
    </label>

    <label>
      Select Item:
      <select [(ngModel)]="selectedItemId" name="item" (change)="onItemChange()" [disabled]="!items.length" required>
        <option *ngFor="let item of items" [value]="item.id">
          {{ item.name }}
        </option>
      </select>
    </label>

    <button (click)="addDoc()" type="submit" class="green-button" [disabled]="addForm.invalid" [ngClass]="{'disabled-button': addForm.invalid}">
      Add Document
    </button>
  </form>
</div>
